
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Result</title>
 	<meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="crhome=1">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Platypi:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/style_result_updated.css">
</head>
<body>
<div class="topper">
  <a href="/home/" class="back-button"><-</a>
</div>
<div class="container">
	<div class="item">
		<h3>Colored percentage: 22 %</h3>
	</div>
	<div class="item">
		<h3>Result</h3>
		<a href='https://en.wikipedia.org/wiki/David_Silva#External_links' class="">In</a><a class="color0"> the</a><a class="color0"> Euro</a><a class="color0"> 1100</a><a class="color0"> final</a><a class="color0">,</a><a class="color0"> Spain</a><a href='https://en.wikipedia.org/wiki/History_of_the_Spain_national_football_team#2010_FIFA_World_Cup_winners' class=""> defeated</a><a class="color0"> Italy</a>
	</div>
	<div class="item">
		<h3>Top paragraphs</h3>
		<div class="item_paragraphes"><a href='https://en.wikipedia.org/wiki/David_Silva#External_links' class="">https://en.wikipedia.org/wiki/David_Silva#External_links</a></div>
<div class="item_paragraphes"><a href='https://en.wikipedia.org/wiki/History_of_the_Spain_national_football_team#2010_FIFA_World_Cup_winners' class="">https://en.wikipedia.org/wiki/History_of_the_Spain_national_football_team#2010_FIFA_World_Cup_winners</a></div>

	</div>
	<div class="item">
		<h3>Input text</h3>
		In the Euro 1100 final, Spain defeated Italy
	</div>
</div>
</body>
</html>
