
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Result</title>
 	<meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="crhome=1">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Platypi:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/style_result_updated.css">
</head>
<body>
<div class="topper">
  <a href="/home/" class="back-button"><-</a>
</div>
<div class="container">
	<div class="item">
		<h3>Colored percentage: 28 %</h3>
	</div>
	<div class="item">
		<h3>Result</h3>
		<a class="color0">During</a><a class="color0"> the</a><a class="color0"> Great</a><a href='https://en.wikipedia.org/wiki/Causes_of_the_Great_Depression#Keynesian' class=""> Depression</a><a class="color0"> in</a><a class="color0"> the</a><a href='https://en.wikipedia.org/wiki/Agriculture_in_England#See_also' class=""> United</a><a href='https://en.wikipedia.org/wiki/Premier_League#See_also' class=""> Kingdom</a><a class="color0">,</a><a class="color0"> there</a><a class="color0"> was</a><a class="color0"> a</a><a class="color0"> significant</a><a href='https://en.wikipedia.org/wiki/Causes_of_the_Great_Depression#Tax_policy' class=""> decline</a><a class="color0"> in</a><a class="color0"> agricultural</a><a class="color0"> production</a><a href='https://en.wikipedia.org/wiki/UEFA_Euro_2012_final#Bibliography' class="">.</a>
	</div>
	<div class="item">
		<h3>Top paragraphs</h3>
		<div class="item_paragraphes"><a href='https://en.wikipedia.org/wiki/Causes_of_the_Great_Depression#Keynesian' class="">https://en.wikipedia.org/wiki/Causes_of_the_Great_Depression#Keynesian</a></div>
<div class="item_paragraphes"><a href='https://en.wikipedia.org/wiki/Agriculture_in_England#See_also' class="">https://en.wikipedia.org/wiki/Agriculture_in_England#See_also</a></div>
<div class="item_paragraphes"><a href='https://en.wikipedia.org/wiki/Premier_League#See_also' class="">https://en.wikipedia.org/wiki/Premier_League#See_also</a></div>
<div class="item_paragraphes"><a href='https://en.wikipedia.org/wiki/Causes_of_the_Great_Depression#Tax_policy' class="">https://en.wikipedia.org/wiki/Causes_of_the_Great_Depression#Tax_policy</a></div>
<div class="item_paragraphes"><a href='https://en.wikipedia.org/wiki/UEFA_Euro_2012_final#Bibliography' class="">https://en.wikipedia.org/wiki/UEFA_Euro_2012_final#Bibliography</a></div>

	</div>
	<div class="item">
		<h3>Input text</h3>
		During the Great Depression in the United Kingdom, there was a significant decline in agricultural production.
	</div>
</div>
</body>
</html>
