<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="crhome=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Platypi:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../static/style_result_updated.css">
</head>
<body>
<div class="topper"></div>
<div class="container">
  <div class="item">
    <h3>Home page</h3>
  </div>
  <div class="item">
    <form action="/coloring" method="post" enctype="multipart/form-data">
      <p><label for="textareainputOne" class="head">Just put the answer from GAN to get a veracity rating:</label></p>
      <textarea id="textareainputOne" name="textareainputOne" rows="5" cols="40"></textarea>
      <p>Choose type of algorithm:</p>
      <fieldset>
        <div>
          <input type="radio" id="oneradio" name="oneradio" value="First" required />
          <label for="oneradio">First</label>
        </div>
        <div>
          <input type="radio" id="tworadio" name="oneradio" value="Second" required />
          <label for="tworadio">Second</label>
        </div>
        <div class="button-container">
          <button onclick="move()" class="submitButton" type="submit" value="submit">Submit</button>
          <button class="resetButton" type="reset" value="reset">Reset</button>
        </div>
      </fieldset>
      <div id="myProgress">
        <div id="myBar"></div>
      </div>
      <script>
        var i = 0;
        function move() {
          if (i == 0) {
            i = 1;
            var elem = document.getElementById("myBar");
            var width = 1;
            var id = setInterval(frame, 10);
            function frame() {
              if (width >= 100) {
                clearInterval(id);
                i = 0;
              } else {
                width++;
                elem.style.width = width + "%";
              }
            }
          }
        }
      </script>
    </form>
  </div>
  <div class="item">
    <form action="/store/sources" method="post" enctype="multipart/form-data">
      <p><label for="textareainputTwo" class="head">To build search database — just put the links of Wikipedia documents and unrelated page names in equal quantities seperated by a space.</label></p>
      <textarea id="textareainputTwo" name="textareainputTwo" rows="5" cols="40"></textarea>
      <div class="button-container">
      <button class="submitButton" type="submit" value="submit">Submit</button>
      <button class="resetButton" type="reset" value="reset">Reset</button>
      </div>
    </form>
  </div>
</div>
</body>
</html>